<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="psgallery" value="https://www.powershellgallery.com/api/v2" />
  </packageSources>

  <packageSourceMapping>
    <packageSource key="nuget">
      <package pattern="*" />
    </packageSource>
    <packageSource key="psgallery">
      <package pattern="platyPS" />
    </packageSource>
  </packageSourceMapping>

</configuration>
