# Generated website
_site

# Help file backups
help/bak*

# Generated reference, toc, and include files (<verb>-<noun>.md, index-<noun>.md)
reference/*-*.md
reference/*.yml
reference/includes/index-*.md

# Generated api files
api/.manifest
api/*.yml

# Log file, local-only batch files
log.*
*.cmd
