name: Dependency Check

on:
  workflow_dispatch:
  schedule:
  - cron: '0 5 * * *'

jobs:
  Dependencies:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 1
    - name: Setup dotnet (pinned)
      uses: actions/setup-dotnet@v3
      with:
        global-json-file: ./global.json
    - name: Check dependencies
      uses: mawosoft/dotnet-dependency-alert@v1
